config.guess
config.sub
configure
ltmain.sh
install-sh
.cproject
.project
.cdtconfigure.Build (GNU)
autom4te.cache/
bin/
build/
lib/
.libs/
include/
*~
*kdev*
doc/
Doxyfile
html/
xml/
*.tag
*.tar.gz
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
